<!--

<div class="container-fluid">
  <div class="row">
    <div class="column">
      <div class="col-md-9 col-md-offset-2">
        <center>
          <h1>New Store</h1>
          <div class= "jumbotron myjumbotron">
            <form method=post>
              <div class="form-group">
                <label for="store_name">Name<span style="color: red; margin-left: 20px;">*</span></label>
                <input type="text" class="form-control" id="store_name" name="store_name" placeholder="">
              </div>
              <div class="form-group">
                <label for="store_desc">Description<span style="color: red; margin-left: 20px;">*</span></label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
                <p class="form-text text-muted">Give a detailed description for your store.</p>
              </div>
              <p><span style="color: red; margin-right: 20px;">*</span>Required fields</p>
              <button type="submit" class="btn btn-custom">Add Store</button>
             </form>
          </div>
        </center>
      </div>
    </div>
  </div>
</div>
-->


{% extends 'base.html' %}


{% block body %}

  <div class="col-lg-4 col-md-offset-4">
    <div class="page-header text-center">
          <h1>New Store</h1>
    </div>
    <div class= "jumbotron">
      <form method=post>
        {{ form.hidden_tag() }}
        <dl>
           <dd>Name: {{ form.store_name(class_="u-full-width", placeholder="Store Name", maxlength=70)}}
           <dd>Description: {{ form.store_desc(class_="u-full-width", placeholder="Store Description") }}
           <dt>{{ form.submit }}
         </dl>
       </form>
    </div>
  </div>

{% endblock %}
