{% extends "base.html" %}

{% block body %}
<section class="dashboard">
  <center>
    <h1>Products</h1>
    <div class="available_stores">
       {% if all_products == 0 %}
       <div>
         <p>No available products</p>
         <a href="{{ url_for('product.product') }}" class="btn btn-info" role="button">NEW STORE</a>
       </div>
       {% else %}
       <div>
         <p>Number of Products: {{ all_products }}</p>
         <a href="{{ url_for('store.store') }}" class="btn btn-info" role="button">NEW STORE</a>
       </div>
       {% endif %}
       {% for product in my_products %}
        <ul class="list-group">
            <p class="lead text-info">
            {{product.product_name}}</p>
            {{ product.product_description }}
            {{ product.product_image }}
        </ul>

        {% endfor %}
    </div>
  </center>
</section>

{% endblock %}
