{% extends 'base.html' %}


{% block body %}

  <div class="col-md-9 col-md-offset-2">
    <div class="page-header text-center">
          <h1>New Product</h1>
    </div>
    <div class= "jumbotron myjumbotron">
      <form method=post>
        {{ form.hidden_tag() }}
           <div class="add">Name: {{ form.product_name(class_="u-full-width", placeholder="Product Name", maxlength=70)}}</div><br/>
           <div class="add">Description: {{ form.product_desc(class_="u-full-width", placeholder="Product Description") }}</div><br/>
           <div class="add">{{ form.submit }}</div><br/>
       </form>
    </div>
  </div>

{% endblock %}
