{% extends 'base.html' %}


{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="column">
      <div class="col-md-9 col-md-offset-2">
        <center>
          <h1>New Product</h1>

          <div class= "jumbotron myjumbotron">
            <form method=post>
              <div class="form-group">
                <label for="product_name">Name<span style="color: red; margin-left: 20px;">*</span></label>
                <input type="text" class="form-control" id="product_name" name="product_name">
              </div>
              <div class="form-group">
                <label for="product_description">Description<span style="color: red; margin-left: 20px;">*</span></label>
                <textarea class="form-control" rows="5" name="product_description"></textarea>
                <p class="form-text text-muted">Give a detailed description for your product.</p>
              </div>
              <p><span style="color: red; margin-right: 20px;">*</span>Required fields</p>
              <button type="submit" class="btn btn-custom">Add Product</button>
             </form>
          </div>
        </center>
      </div>
    </div>
  </div>
</div>
{% endblock %}
