{% extends "base.html" %}

{% block body %}
  <section class="landing">
    <center>
      <div class="container-fluid">
        <div class="welcome">
          <h1><i class="fa fa-opencart" aria-hidden="true"></i>  ISOKO</h1>
        </div>

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-md-offset-2">
              <div class="login">
                <button type="button" class="btn btn-block"><a href="{{ url_for('auth.login') }}">LOG IN</a></button>
              </div>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <div class="signup">
                <button type="button" class="btn btn-block"><a href="{{ url_for('auth.signup') }}">GET STARTED</a></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </center>
  </section>
{% endblock %}
