{% extends "base.html" %}

{% block body %}

<section class="login_page">
  <center>
    <h1>Log In</h1>
    <div class="container-fluid">
      <div class="three columns value-prop"></div>
      <div class="six columns">
        {% if form.errors %}
          <div class="has-error"><strong>Unable to login.</strong></div>
        {% endif %}
        <div>
          <div class="sign_form">
            <form action="" method="post" role="form">
              {{ form.hidden_tag() }}
              <div class="form-group">
                <label for="email"><i class="fa fa-envelope" aria-hidden="true"></i><span style="color: red; margin-left: 20px;">*</span></label>
                <input type="text" class="form-control" id="email" name="email" placeholder="Email">
                <br/>
                <label for="password"><i class="fa fa-lock" aria-hidden="true"></i><span style="color: red; margin-left: 20px;">*</span></label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
              </div>
              <p><span style="color: red; margin-right: 20px;">*</span>Required fields</p>
              <button type="submit" class="btn btn-custom">Log In</button>
            </form>
          </div>
        </div>
        <div>
          <p>New user? Click <a href="{{ url_for('auth.signup') }}">here</a> to register.</p>
        </div>
      </div>
    </div>
  </center>
</section>
{% endblock %}
