{% extends "base.html" %}

{% block body %}

<section class="login_page">
  <center>
    <h1>Log In</h1>
    <div class="container-fluid">
      <div class="three columns value-prop"></div>
      <div class="six columns">
        {% if form.errors %}
          <div class="has-error"><strong>Unable to login.</strong></div>
        {% endif %}
        <div>
          <div class="reg_form">
            <form method=post>
              {{ form.hidden_tag() }}
              <dl>
               <dd> <i class="fa fa-envelope" aria-hidden="true"></i> {{ form.email(class_="u-full-width", placeholder="Email", maxlength=128)}}
               <dd> <i class="fa fa-lock" aria-hidden="true"></i> {{ form.password(class_="u-full-width", placeholder="Password") }}
               <dt>{{ form.submit }}
             </dl>
            </form>
          </div>
        </div>
        <div>
          <p>New user? <a href="{{ url_for('auth.signup') }}">Click here to register</a>.</p>
        </div>
      </div>
    </div>
  </center>
</section>
{% endblock %}
