{% extends "base.html" %}

{% block body %}

<section class="signup_page">
  <center>
    <h1 class="header">Get Started</h1>
    <div class="container-fluid">
      <div class="three columns value-prop"></div>
      <div class="six columns">
        {% if form.errors %}
          <div class="has-error"><strong>Your registration contains errors.</strong></div>
        {% endif %}
        <div>
          <div class="reg_form">
            <form action="" method="post" role="form">
              {{ form.hidden_tag() }}
              <div class="form-group">
                <label for="fname"><i class="fa fa-user" aria-hidden="true"></i><span style="color: red; margin-left: 20px;">*</span></label><input type="text" class="form-control" id="fname" name="fname" placeholder="First Name">
                <br/>
                <label for="lname"><i class="fa fa-user" aria-hidden="true"></i><span style="color: red; margin-left: 20px;">*</span></label><input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name">
                <br/>
                <label for="username"><i class="fa fa-user" aria-hidden="true"></i><span style="color: red; margin-left: 20px;">*</span></label><input type="text" class="form-control" id="username" name="username" placeholder="Username">
                <br/>
                <label for="email"><i class="fa fa-envelope" aria-hidden="true"></i><span style="color: red; margin-left: 20px;">*</span></label><input type="text" class="form-control" id="email" name="email" placeholder="Email">
                <br/>
                <label for="password"><i class="fa fa-lock" aria-hidden="true"></i><span style="color: red; margin-left: 20px;">*</span></label><input type="password" class="form-control" id="password" name="password" placeholder="Password">
                <br/>
                <label for="confirm"><i class="fa fa-lock" aria-hidden="true"></i><span style="color: red; margin-left: 20px;">*</span></label><input type="password" class="form-control" id="confirm" name="confirm" placeholder="Repeat Password">
              </div>
              <p><span style="color: red; margin-right: 20px;">*</span>Required fields</p>
              <button type="submit" class="btn btn-custom">Get Started</button>
            </form>
          </div>
            </form>
          </div>
        </div>
          <p>Have an Account? Click <a href="{{ url_for('auth.login') }}">here</a> to login.</p>
        </div>
        </div>
      </div>
    </div>
  </center>
</section>
{% endblock %}
