{% extends "base.html" %}

{% block body %}

<section class="signup_page">
  <center>
    <h1 class="header">Get Started</h1>
    <div class="container-fluid">
      <div class="three columns value-prop"></div>
      <div class="six columns">
        {% if form.errors %}
          <div class="has-error"><strong>Your registration contains errors.</strong></div>
        {% endif %}
        <div>
          <div class="reg_form">
            <form method=post>
              {{ form.hidden_tag() }}
              <dl>
                <dd> <i class="fa fa-user" aria-hidden="true"></i>      {{ form.fname(class_="u-full-width", placeholder="First Name", maxlength=100) }}

                <dd> <i class="fa fa-user" aria-hidden="true"></i>      {{ form.lname(class_="u-full-width", placeholder="Last Name", maxlength=100) }}

                <dd> <i class="fa fa-user" aria-hidden="true"></i>      {{ form.username(class_="u-full-width", placeholder="Username", maxlength=64) }}

                <dd> <i class="fa fa-envelope" aria-hidden="true"></i>  {{ form.email(class_="u-full-width", placeholder="Email", maxlength=64) }}

                <dd> <i class="fa fa-lock" aria-hidden="true"></i>      {{ form.password(class_="u-full-width", placeholder="Password") }}

                <dd> <i class="fa fa-lock" aria-hidden="true"></i>      {{ form.confirm(class_="u-full-width", placeholder="Repeat Password") }}

                <dt>{{ form.submit }}
              </dl>
            </form>
          </div>
        </div>
          <p>Have an Account? <a href="{{ url_for('auth.login') }}">Click here to login.</a></p>
        </div>
        </div>
      </div>
    </div>
  </center>
</section>
{% endblock %}
