{% extends "base.html" %}

{% block body %}
<section class="dashboard">
  <center>
    <h1>Your Stores</h1>
    <div class="available_stores">
       {% if all_stores == 0 %}
       <div>
         <p>No available stores</p>
         <a href="{{ url_for('store.store') }}" class="btn btn-info" role="button">NEW STORE</a>
       </div>
       {% else %}
       <div>
         <p>Number of Stores: {{ all_stores }}</p>
         <a href="{{ url_for('store.store') }}" class="btn btn-info" role="button">NEW STORE</a>
       </div>
       {% endif %}
       {% for store in my_stores %}
        <ul class="list-group">
        <p><td> <a href="{{ url_for('product.overview')}}" class="list-group-item-text">
        {{store.store_name}}
        </a></td>
        </p>
        {{ store.store_description }}
        {{store.store_image}}
        </ul>
        {% endfor %}
    </div>
  </center>
</section>

{% endblock %}
