<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ISOKO</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"> {% block css %}{% endblock %}

  </head>

  <body>
    <div class="container-fluid">
      <!--<div class="row">
        <div class="col-sm-3">
          <div class="sidebar-nav">
            <div class="navbar navbar-default" role="navigation">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <span class="visible-xs navbar-brand">Sidebar menu</span>
              </div>
              <div class="navbar-collapse collapse sidebar-navbar-collapse">
                <br/><br/><br/>
                <ul class="nav navbar-nav">
                  <div class="row"><li><a href="{{ url_for('main.index') }}"><i class="fa fa-opencart" aria-hidden="true"></i>  ISOKO</a></li></div><br/>
                  <div class="row"><li><a href="{{ url_for('auth.login') }}"></a>LOG IN</a></li></div><br/>
                  <div class="row"><li><a href="{{ url_for('auth.signup') }}"></a>GET STARTED</a></li></div><br/>
                </ul>
                <br/><br/><br/>
              </div>
            </div>
          </div>
        </div>
      </div>-->

      {% if current_user.is_authenticated %}
      <div class="row">
        <div class="col-md-3">
          <div class="sidebar-nav">
            <div class="navbar navbar-default" role="navigation">
              <!--<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <span class="visible-xs navbar-brand">Sidebar menu</span>
              </div>
              <div class="navbar-collapse collapse sidebar-navbar-collapse">-->
                <br/><br/><br/>
                <ul class="nav navbar-nav">
                  <li class="row"><a href="{{ url_for('store.overview') }}"><i class="fa fa-opencart" aria-hidden="true"></i>  ISOKO</a></li><br/>
                  <li class="row"><a href="{{ url_for('store.overview') }}">My Stores</a></li><br/>
                  <li class="row"><a href="{{ url_for('store.store') }}">Create New Store</a></li><br/>
                  <li class="row"><a href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i>  {{ current_user.username }}</a></li><br/>
                  <li class="row"><a href="{{ url_for('auth.logout') }}">LOG OUT</a></li><br/>
                </ul>
                <br/><br/><br/>
              <!--</div>-->
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    <!-- Child template -->
    {% block body %}{% endblock %}


    <!-- errors -->
    {% if error %}
      <div class="alert alert-warning alert-dismissible error_msg"><p><strong>Error:</strong> {{ error }}</p></div>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% endif %}

    <!-- messages -->
    {% for message in get_flashed_messages() %}
    <div class="alert alert-info text-center flash_msg">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
    </div>
    {% endfor %}

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    {% block js %}{% endblock %}
  </body>
</html>
